
<div class='admin-panel'>
    <app-sidebar></app-sidebar>
    <div class='right-panel'>
        <app-admin-navbar></app-admin-navbar>
        <div class="song-info-area">
            <app-add-song></app-add-song>
        </div>
    </div>
</div>

<!-- <div className='pl-5 pt-8 sm:pt-12 sm:pl-12'>
            <Routes>
                <Route path='/add-song' element={<AddSong />} />
                <Route path='/add-album' element={<AddAlbum />} />
                <Route path='/get-album' element={<GetAlbum />} />
                <Route path='/get-song' element={<GetSong />} />
            </Routes>
        </div> -->