<div class="signup-page">
    <div class="signup-header">
        <img src="./assets/spotify_logo.png">
        <h1>Sign up for Spotify</h1>
    </div>

    <div class="signup">
        <div class="signup-field">
            <p>Email address</p>
            <input class="input-box" placeholder='name@domain.com' required/>
        </div>
        <div class="next-btn">
            <button>Next</button>
        </div>

        <div class="acc-already">
            <p>Already have an account?
                <a routerLink="">Log in here</a>
                .
            </p>
        </div>
    </div>
</div>