<div class="login-page">
    <div class="login-header">
        <img src="./assets/spotify_logo.png">
        <h1>Log in to Spotify</h1>
    </div>

    <div class="login-details">
        <div class="login-field">
            <p>Email or username</p>
            <input class="input-box" placeholder='Email or username' required/>
        </div>
        <div class="login-field">
            <p>Password</p>
            <input class="input-box" placeholder='Password' required/>
        </div>
        <div class="login-btn">
            <button>Log In</button>
        </div>

        <div class="forgot-password">
            <p>Forgot your password?</p>
        </div>

        <div class="register-sec">
            <p>Do not have an account? <a routerLink="signup"> Sign up for Spotify</a></p>
        </div>
    </div>
</div>