<div class="spotify_home-container row">
    <div class="spotify_home-container_sidebar col-2">
        <div class="spotify_home-container_sidebar-item">
            <img width="150"
            class="m-3 text-left"
            src="./assets/Spotify_Full_Logo_RGB_White.png"
            alt="spotify logo"/>
        </div>
        <div class="spotify_home-container_sidebar-item">
            <img width="25"
            class=""
            src="./assets/home.png"
            alt="home"/>
            <a>Home</a>
        </div>
        <div class="spotify_home-container_sidebar-item">
            <img width="25"
            class=""
            src="./assets/search.png"
            alt="search"/>
            <a>Search</a>
        </div>
        <div class="spotify_home-container_sidebar-item">
            <img width="25"
            class=""
            src="./assets/stack.png"
            alt="stack"/>
            <a>Your Library</a>
        </div>
        <div class="spotify_home-container_sidebar-item">
            <img width="25"
            class=""
            src="./assets/plus.png"
            alt="plus"/>
            <a>Create Playlist</a>
        </div>
        <div class="spotify_home-container_sidebar-item">
            <img width="25"
            class=""
            src="./assets/likedsongs.png"
            alt="liked"/>
            <a>Liked Songs</a>
        </div>
        <!-- <div class="spotify_home-container_sidebar-item">
            <img width="25"
            class=""
            src="./assets/plus.png"
            alt="liked"/>
            <a>Add Songs</a>
        </div> -->
    </div>
    <div class="spotify_home-containter_playlist-container col-10">
        <app-top-nav></app-top-nav>
        <div class="spotify_app-song-card mt-5 container">
            <app-albums></app-albums>
        </div>
        <!-- <app-data-display></app-data-display> -->
    </div>
</div>

